html {
    scrollbar-color: var(--scrollbar-thumb) var(--background-body);
}

body {
    color: var(--text-main);
    background: var(--background-body);
}

button {
    transition: background-color 0.1s linear, border-color 0.1s linear, color 0.1s linear, box-shadow 0.1s linear, transform 0.1s ease;
    transition: background-color var(--animation-duration) linear, border-color var(--animation-duration) linear, color var(--animation-duration) linear, box-shadow var(--animation-duration) linear, transform var(--animation-duration) ease;
}

h1 {
    color: var(--text-main);
}

h2 {
    color: var(--text-main);
}

h3 {
    color: var(--text-main);
}

h4 {
    color: var(--text-main);
}

h5 {
    color: var(--text-main);
}

h6 {
    color: var(--text-main);
}

strong {
    color: var(--text-main);
}

blockquote {
    border-left: 4px solid var(--focus);
}

q {
    border-left: 4px solid var(--focus);
}

mark {
    background-color: var(--highlight);
}

button {
    color: var(--form-text);
    background-color: var(--background);
}

button {
    background-color: var(--button-base);
}

button:hover {
    background: var(--button-hover);
}

button:focus {
    box-shadow: 0 0 0 2px var(--focus);
}

::-moz-placeholder {
    color: var(--form-placeholder);
}

:-ms-input-placeholder {
    color: var(--form-placeholder);
}

::-ms-input-placeholder {
    color: var(--form-placeholder);
}

::placeholder {
    color: var(--form-placeholder);
}

fieldset {
    border: 1px var(--focus) solid;
}

a {
    color: var(--links);
}

code {
    background: var(--background);
    color: var(--code);
}

samp {
    background: var(--background);
    color: var(--code);
}

/* time {
    background: var(--background);
    color: var(--code);
} */

var {
    color: var(--variable);
}

kbd {
    background: var(--background);
    border: 1px solid var(--border);
    color: var(--text-main);
}

hr {
    border: none;
    border-top: 1px solid var(--border);
}

section[alt-background] {
    background-color: var(--background-alt);
}

::-webkit-scrollbar-track {
    background: var(--background);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover);
}

::-moz-selection {
    background-color: var(--selection);
    color: var(--text-bright);
}

::selection {
    background-color: var(--selection);
    color: var(--text-bright);
}

summary::-webkit-details-marker {
    color: var(--text-main);
}

dialog {
    background-color: var(--background-alt);
    color: var(--text-main);
    border-color: var(--border);
}

dialog>header:first-child {
    background-color: var(--background);
}

dialog::-webkit-backdrop {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

dialog::backdrop {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

footer {
    border-top: 1px solid var(--border);
    color: var(--color-secondary);
}

body > footer :is(h1, h2, h3, h4, h5, h6, p, li, a) {
    color: var(--text-bright);
}

body > footer h2 {
    font-size: var(--text-lg);
}

body > footer h3 {
    font-size: var(--text-reg);
}

body > footer :is(p, a) {
    font-size: var(--text-sm);
}

body > footer > section {
    padding-bottom: var(--space-md);
}

body > footer {
    background-color: var(--background-contrast);
}

body > footer img {
    max-width: 40vw;
}