header>alert-banner {
    display: block;
    margin-left: calc(0px - var(--section-gutters));
    margin-right: calc(0px - var(--section-gutters));
    background-color: var(--color-secondary);
    color: var(--color-primary);
    text-align: center;
}

/* || button links */

article-list header a,
product-section>ul>li>:is(h2, h3)~a,
poster-copy>a {
    font-weight: var(--button-font-weight);
    color: var(--color-secondary);
    display: block;
    max-width: max-content;
    background-color: var(--color-primary);
    padding: var(--space-xxxs) var(--space-sm);
    box-shadow: var(--box-shadow-sm);
    margin-bottom: var(--space-xxs);
}

poster-media {
    position:relative;
    padding-bottom: 63%;
    overflow: hidden;
}

poster-media > :is(img, video) {
    position: absolute;
    object-fit: cover;
    width:100%;
    height:100%;
}

poster-media > img[fill] {
    position: absolute;
    object-fit: fill;
    width: 100%;
    height: 100%;
}

/* || product-section */

product-section {
    display: block;
    width: 100%;
    margin: 0;
    padding-top: var(--space-lg);
}

article-section article >a,
article-section article >a:hover,
product-section ul li a,
product-section ul li a:hover {
    color: var(--text-main);
    text-decoration: none;
}

product-section>ul {
    --article-width: min(70vw, 400px); /* set a variable to use as column width so the img height can be a calculated ratio */
    display: grid;
    grid-auto-columns: var(--article-width);
    grid-auto-flow: column;
    column-gap: var(--space-xs);
    overflow: auto hidden;
}

product-section > ul svg {
    width: var(--text-xl);
    height: var(--text-xl);
    color: var(--color-accent);
    fill: var(--color-accent);
}

product-section > ul img {
    display: block;
    width: 100%;
}

product-section>ul h3 {
    font-size: var(--text-lg);
    margin: var(--space-xxs) 0 var(--space-xxxs) 0;
}

/* || product-rows */

product-rows p {
    margin-bottom: var(--space-xs);
}

product-rows > ul > li :is(h2, h3, h4, h5) {
    margin: unset;
}

product-rows > ul > li > :is(h2, h3, h4, h5) {
    margin-bottom: var(--space-xxs);
}

product-rows > ul ul > li {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
}

product-rows > ul ul > li span {
    font-weight: 600;
    color: var(--color-secondary);
}

.feature-list {
    padding: var(--space-xxs) 0;
}

.feature-list > li {
    display: flex;
    align-items: center;
    gap: var(--space-xxxs);
}

.feature-list > li p {
    margin: unset;
}

/* || article-section */

article-section {
    display: block;
    width: 100%;
    margin: 0;
    padding-top: var(--space-lg);
}

article-section[alt-background] {
    background-color: var(--background-alt);
}

article-list {
    --article-width: min(70vw, 400px); /* set a variable to use as column width so the img height can be a calculated ratio */
    display: grid;
    grid-auto-columns: minmax(400px, 1fr);
    grid-auto-flow: column;
    column-gap: var(--space-xs);
    overflow: auto hidden;
}

article-list > header {
    max-width: 350px;
}

article-list > header > :is(h1, h2, h3, h4, h5, h6) {
    margin-top: 0;
}

article-list[small] {
    --article-width: min(25%, 150px);
}

article-list article img {
    --img-ratio: var(--text-scale-ratio);
    display: block;
    width: 100%;
    height: calc(var(--article-width) * var(--img-ratio)); /* use the variable for grid column width to calculate height based on a fixed ratio */
    object-fit: cover;
}

article-list article h3 {
    font-size: var(--text-lg);
    margin: var(--space-xxs) 0 var(--space-xxxs) 0;
}

/* || collage-section */

collage-section {
    padding-left: 0;
    padding-right: 0;
    display: block;
}

collage-section ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    line-height: 0;
}

/* || poster section */

poster-section {
    position: relative;
    overflow: hidden;
    height: clamp(600px, 35vw, 720px); /* this makes it where the image is horizontal on desktop and vertical on mobile */ 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--space-md);
    align-items: center;
}

poster-section[inverted] {
    background: linear-gradient(
        to left,
        hsl(0 0% 0% / 0),
        hsl(0 0% 0% / 0.2) 50%,
        hsl(0 0% 0% / 0.5)
    );
}

poster-section[floorplan] {
    color: var(--color-primary);
    background-color: var(--color-secondary);
}

poster-section[floorplan] :is(h1, h2, h3, h4, h5, h6) {
    color: var(--color-primary);
}

poster-section[inverted] :is(h1, h2, h3, h4, h5, h6, p, li) {
    color: var(--color-primary);
}

poster-section[inverted] > poster-card :is(h1, h2, h3, h4, h5, h6, p, li, a) {
    color: var(--color-secondary);
}


/* poster-section + poster-section {
    border-top: 4px solid var(--background);
} */

/* poster-section h1 {
    grid-area: a;
} */

/* poster-section h1,
poster-section h2,
poster-section p,
poster-section footer,
poster-section footer a {
    color: var(--color-primary);
} */

poster-section footer {
    border: none;
    position: absolute;
    bottom: var(--space-xxs);
    text-align: center;
    width: 100%;
}

poster-section footer > ul {
    display: flex;
    justify-content: center;
    column-gap: var(--space-sm);
}

poster-section footer > ul a {
    color: var(--color-primary);
}

poster-section > img,
poster-section > iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
}

poster-section > iframe {
    z-index: unset;
}

poster-card {
    display: block;
    background-color: var(--color-primary);
    padding: var(--space-sm);
}

poster-card :is(h1, h2, h3, h4, h5, h6) {
    margin: unset;
}

poster-card :is(h4, h5, h6) {
    margin-top: var(--space-xxs);
}

poster-card ul {
    margin-top: var(--space-xxs);
    padding-left: var(--space-sm);
}

poster-card ul li {
    list-style-type: disc;
}


/* || aside-section */

aside-section {
    display: grid;
    gap: var(--space-lg);
    grid-template-areas: "aside article";
    grid-template-columns: minmax(min-content, 20vw) 1fr;
}

aside-section>article {
    grid-area: article;
}

aside-section>aside {
    grid-area: aside;
    background-color: var(--background-alt);
    padding: var(--space-sm);
}

/* || media-grid */

/* media-grid {
    --min-pixel-size: 280px;
    --min-columns: 2;
    --max-columns: 4;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100% / var(--min-columns), max(var(--min-pixel-size), 100% / var(--max-columns))), 1fr));
} */

media-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

media-grid > a {
    position: relative;
    overflow: hidden;
    /* min-height: 450px; */
}

article > media-grid > a {
    --img-ratio: var(--text-scale-ratio);
    height: calc((var(--article-width) * var(--img-ratio)) / 2);
}

article > media-grid > a[inverted] {
    background: linear-gradient(
        to bottom,
        hsl(0 0% 0% / 0),
        hsl(0 0% 0% / 0.2) 70%,
        hsl(0 0% 0% / 0.4)
    );
}

media-grid > a > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

media-grid > a > h3 {
    color: var(--color-primary);
    position: absolute;
    left: var(--space-xxs);
    bottom: var(--space-xxs);
    z-index: 10;
}

/* || filter-section */

filter-section > h2 {
    margin: unset;
}

filter-section > h2 + p {
    margin-top: var(--space-xxxxs);
}

filter-section > ul {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-xxxs);
}

filter-section > ul {
    margin-top: var(--space-xxxxs);
}

filter-section > ul > li > a {
    display: inline-block;
    padding: var(--space-xxxxs) var(--space-xxxs);
    color: var(--color-secondary);
    background-color: var(--background);
    margin: unset;
}

filter-section > ul > li > a:hover {
    border-color: var(--color-secondary);
    text-decoration: none;
}

/* || map-section */

map-section > iframe {
    width: 100%;
    height: 100%;
}

/* || directory-section */

directory-section {
    display: block;
    padding-left: 0;
    padding-right: 0;
}

directory-section ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

directory-section a {
    color: var(--color-primary);
}

directory-section a:hover {
    text-decoration: none;
}

directory-section ul > li {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 500px;
    background-color: var(--color-secondary);
}

directory-section ul > li > :is(a, div) {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
}

directory-section > ul > li img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -10;
}

directory-section ul > li :is(h1, h2, h3, h4, h5, h6) {
    color: var(--color-primary);
    font-size: var(--text-xxxl);
}

directory-section ul > li ul {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, 1fr);
    width: 100%;
    column-gap: var(--space-xs);
    row-gap: var(--space-xxxs);
    list-style: none;
    padding: 0 var(--page-gutters);
}

directory-section ul > li ul a:hover {
    text-decoration: underline;
}

/* || feature-grid */

feature-grid {
    display: block;
}

feature-grid > ul {
    /* Allows the grid to auto-fill scaling down, but uses a maximum column count when scaling up */
    --grid-column-count: 2;
    --grid-item--min-width: 300px;
    --grid-layout-gap: var(--space-xs);
    --gap-count: calc(var(--grid-column-count) - 1);
    --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
    --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
    gap: var(--grid-layout-gap);
}

feature-grid > ul svg {
    width: var(--text-xl);
    height: var(--text-xl);
    color: var(--color-accent);
    fill: var(--color-accent);
}

feature-grid > ul img {
    display: block;
    width: 100%;
}

.star-row {
    display: flex;
    column-gap: var(--space-xxxs);
}

.star-row svg {
    width: var(--text-lg);
    height: var(--text-lg);
    fill: #faca15;
}

/* || contact-form */

contact-form {
    display: block;
    /* background-color: var(--background-alt); */
}

contact-form > * {
    max-width: 45rem;
    margin: 0 auto;
}

contact-form > h4 {
    font-weight: 400;
    margin-top: var(--space-sm);
}

contact-form > ul {
    margin-top: var(--space-sm);
    padding-left: var(--space-sm);
}

contact-form > ul > li {
    list-style-type: disc;
}

contact-form > ul > li:not(:first-of-type) {
    margin-top: var(--space-xxs);
}

contact-form > p {
    margin-top: var(--space-sm);
}

contact-form > form {
    margin-top: var(--space-md);
}

/* || form-cols */

form-cols {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: var(--space-sm);
    width: 100%;
}

form-cols :is(input, textarea, select) {
    width: 100%;
}

form-cols div[full-width] {
    grid-column: span 2; /* this is causing the columns not to wrap */
}