header>alert-banner {
    display: block;
    margin-left: calc(0px - var(--section-gutters));
    margin-right: calc(0px - var(--section-gutters));
    background-color: var(--color-secondary);
    color: var(--color-primary);
    text-align: center;
}

location-banner {
    display: block;
    margin-left: calc(0px - var(--section-gutters));
    margin-right: calc(0px - var(--section-gutters));
    background-color: var(--focus);
    color: var(--color-primary);
    text-align: center;
}

location-banner p {
    padding-top: var(--space-xs);
    padding-bottom: var(--space-xs);
    font-size: var(--text-md);
}

article-list header mark {
    display: block;
    margin-top: var(--space-xs);
    background-color: var(--focus);
    color: var(--color-primary);
    padding: 0.5rem;
    font-size: var(--text-sm);
}

/* || button links */

action-list a,
product-section>ul>li>:is(h2, h3)~a,
poster-copy>a {
    font-weight: var(--button-font-weight);
    color: rgb(120, 120, 120);
    display: block;
    max-width: max-content;
    background-color: var(--background);
    padding: var(--space-nano) var(--space-xs);
    margin-bottom: var(--space-xxs);
    transition: box-shadow 100ms ease-out;
}

action-list a[primary] {
    font-weight: var(--button-font-weight);
    color: rgb(255, 255, 255, 0.8);
    display: block;
    max-width: max-content;
    background-color: var(--color-accent);
    padding: var(--space-nano) var(--space-xs);
    margin-bottom: var(--space-xxs);
}

action-list a:hover,
product-section>ul>li>:is(h2, h3)~a:hover,
poster-copy a:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    text-decoration: none;
}

poster-media {
    position: relative;
    padding-bottom: 63%;
    overflow: hidden;
}

poster-media> :is(img, video) {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

poster-media>img[fill] {
    position: absolute;
    object-fit: fill;
    width: 100%;
    height: 100%;
}

/* || product-section */

product-section {
    display: block;
    width: 100%;
    margin: 0;
    padding-left: var(--section-gutters);
    padding-right: var(--section-gutters);
}

article-section article>a,
article-section article>a:hover,
product-section ul li a,
product-section ul li a:hover {
    color: var(--text-main);
    text-decoration: none;
}

product-section>ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: var(--space-xxxxs);
}

@media (max-width: 800px) {
    /* product-section {
        text-align: center;
    } */

    product-section>ul {
        grid-template-columns: 1fr;
        /* justify-items: center; */
    }

    /* product-section action-list {
        align-items: center;
    } */
}

product-section>ul>li span {
    font-size: var(--text-sm);
    font-style: italic;
}

product-section>ul>li>ul {
    padding-left: var(--space-xxxxxs);
}

product-section>ul>li>ul>li {
    list-style: circle outside;
}

product-section[background-contrast]>ul>li :is(a, button) {
    background-color: transparent;
    border: 2px solid var(--text-bright);
}

product-section[background-contrast]>ul>li :is(a, button):hover {
    color: var(--text-contrast);
    background-color: var(--text-bright);
}

product-section>ul svg {
    width: var(--text-xl);
    height: var(--text-xl);
    color: var(--color-accent);
    fill: var(--color-accent);
}

product-section>ul img {
    display: block;
    width: 100%;
}

product-section>ul h3 {
    display: inline-block;
    font-size: var(--text-lg);
    margin: var(--space-xxs) 0 var(--space-xxxs) 0;
    border-bottom: 2px solid var(--text-bright);
    padding-bottom: var(--space-xxxs);
}

/* || menu-section */

menu-section {
    display: block;
    margin: var(--space-xxxl) 0;
    padding-top: var(--space-xxxl);
    padding-left: var(--section-gutters);
    padding-right: var(--section-gutters);
    color: var(--text-bright);
}

menu-section h2 {
    padding-bottom: var(--space-nano);
    color: var(--text-bright);
}

menu-section h3 {
    /* color: var(--text-bright); */
    font-size: var(--text-reg);
}

menu-section p {
    font-size: var(--text-sm);
}

menu-rows li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid var(--background-alt);
    padding: var(--space-xxxs) 0;
}

menu-section h3:not(:first-of-type) {
    margin-top: var(--space-xxxl);
}

menu-section h4 {
    color: var(--text-bright);
    font-size: var(--text-sm);
    width: 100%;
}

menu-rows div {
    display: inline-flex;
}

menu-rows div+div {
    text-align: right;
}

menu-rows div,
menu-rows a {
    font-size: var(--text-xxs);
}

menu-rows a {
    color: var(--text-bright);
}

menu-rows a:after {
    content: ">";
}

.feature-list {
    padding: var(--space-xxs) 0;
}

.feature-list>li {
    display: flex;
    align-items: center;
    gap: var(--space-xxxs);
}

.feature-list>li p {
    margin: unset;
}

*[background-alt] {
    padding-top: var(--space-lg);
    padding-bottom: var(--space-lg);
    background-color: var(--background-alt);
}

/* *[background-alt] :is(h1, h2, h3, h4, h5, h6, p, strong, em, i, b, a) {
} */

*[background-contrast] {
    padding-top: var(--space-lg);
    padding-bottom: var(--space-lg);
    background-color: var(--background-contrast);
    color: var(--text-bright);
}

*[background-contrast] :is(h1, h2, h3, h4, h5, h6, p, strong, em, i, b, a) {
    color: var(--text-bright);
}

/* || article-section */

article-section {
    display: block;
    width: 100%;
    margin: 0;
    padding-bottom: var(--space-md);
    padding-top: var(--space-lg);
}


article-section> :is(h1, h2, h3, h4, h5, h6, a) {
    margin-top: 0;
}

article-section h2 {
    font-size: var(--text-lg);
}

article-section h3 {
    font-size: var(--text-base-size);
}

article-section p {
    font-size: var(--text-sm);
}

article-section header h4 {
    font-size: var(--text-sm);
    color: var(--text-bright);
}

article-section header h3 {
    font-size: var(--text-reg);
    margin-top: var(--space-xxxxs);
    margin-bottom: var(--space-xxxxs);
    padding-bottom: var(--space-xxxxs);
    border-bottom: 2px solid var(--color-accent);
}

article-section article-list header {
    padding-right: var(--space-xxs);
}

article-section h3 img {
    max-width: 20vw;
}

article-section header a,
article-section header a:hover,
article-section header a:visited {
    text-decoration: none;
}


article-section time,
article-section address,
article-section figcaption,
article-section a[href^="tel"],
article-section a[href^="mailto"] {
    font-size: var(--text-sm);
    margin: 0;
    padding: 0;
    line-height: 1.25;
}

article-list {
    --article-width: min(80vw, 350px);
    /* set a variable to use as column width so the img height can be a calculated ratio */
    display: grid;
    grid-auto-columns: var(--article-width);
    grid-auto-flow: column;
    gap: var(--space-sm);
    overflow: auto hidden;
    margin-top: var(--space-xs);
    padding-top: var(--space-xs);
    margin-bottom: var(--space-md);
    padding-bottom: var(--space-md);
}

article-list>header> :is(h1, h2, h3, h4, h5, h6) {
    margin-top: 0;
}

article-list article h3 {
    margin-top: var(--space-nano);
    margin-bottom: 0.5rem;
}

article-list>article img {
    --img-ratio: var(--vertical-media-scale-ratio);
    display: block;
    width: 100%;
    /* use the variable for grid column width to calculate height based on a fixed ratio */
    height: calc(var(--article-width) * var(--img-ratio));
    object-fit: cover;
}

/* This is for making split images in articles, just by adding more images */

article-list[snippet] {
    --snippet-article-width: min(80vw, 350px);
    display: grid;
    grid-auto-columns: var(--snippet-article-width);
    grid-auto-flow: column;
    column-gap: var(--space-xxxxs);
    overflow: auto hidden;
    padding-top: var(--space-xs);
    padding-bottom: var(--space-xxxl);
}

article-list[snippet]>article>a {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: var(--space-xxxxs);
    overflow: hidden;
    height: 100%;
}

article-list[snippet] article[end-card] {
    border: 1px solid var(--color-accent);
    padding: var(--space-xs);
    margin-right: var(--page-gutters);
}

article-list[snippet] article img {
    --img-ratio: var(--vertical-media-scale-ratio);
    display: block;
    width: 100%;
    height: 100%;
    /* height: calc(var(--snippet-article-width) * var(--img-ratio)); use the variable for grid column width to calculate height based on a fixed ratio */
    object-fit: cover;
}

article-list>article figcaption {
    color: rgb(120, 120, 120);
    font-size: var(--text-sm);
    font-style: italic;
}

article-list[snippet]>article>a>img:only-of-type {
    --img-ratio: var(--vertical-media-scale-ratio);
    display: block;
    width: 100%;
    height: calc(var(--snippet-article-width) * var(--img-ratio));
    /* use the variable for grid column width to calculate height based on a fixed ratio */
    /* height: calc(var(--snippet-article-width) * var(--img-ratio)); use the variable for grid column width to calculate height based on a fixed ratio */
    object-fit: cover;
    grid-row: span 2;
}

article-list[snippet]>article:first-of-type img {
    border-radius: var(--radius-sm) 0 0 var(--radius-sm);
}

article-list[snippet]>article:last-of-type img {
    border-radius: 0 var(--radius-sm) var(--radius-sm) 0;
}

/* || stat-section */

stat-section {
    background-color: var(--background-contrast);
    display: block;
    padding-top: var(--space-xxxl);
    padding-bottom: var(--space-xxxl);
    padding-left: var(--section-gutters);
    padding-right: var(--section-gutters);
}

stat-section ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

stat-section h2 {
    color: var(--text-bright);
    font-size: var(--text-lg);
    padding-bottom: var(--space-xxxs);
}

stat-section ul li h3 {
    color: var(--text-bright);
    font-size: var(--text-reg);
    display: inline;
}

stat-section li {
    padding-bottom: var(--space-xxxs);
    color: var(--text-bright);
}

stat-section ul li p {
    font-size: var(--text-xs);
}

stat-section svg {
    fill: var(--text-bright);
    width: 20px;
    display: inline;
    margin-right: 0.5rem;
}

/* || faq-section */

faq-section {
    display: block;
    padding-top: var(--space-xxxl);
    padding-bottom: var(--space-xxxl);
    padding-left: var(--section-gutters);
    padding-right: var(--section-gutters);
}

faq-section h2 {
    /* padding-bottom: var(--space-sm); */
    color: var(--text-bright);
}

faq-section summary {
    padding: var(--space-nano);
    background-color: var(--background-body);
    /* color: var(--text-bright); */
    font-size: var(--text-reg);
}

faq-section details {
    margin-top: var(--space-sm);
    margin-bottom: var(--space-sm);
    background-color: var(--background-body);
    border-bottom: 1px solid var(--text-muted);
}


/* || bio-section */

bio-section>ul {
    display: grid;
    column-gap: var(--space-xxxxxs);
    grid-template-columns: 1fr 1fr;
    margin-top: var(--space-md);
}

bio-section>ul>li {
    display: inline-block;
}

bio-section figure img {
    border-radius: 50%;
    /* border: 2px solid var(--color-accent); */
}

bio-section figcaption {
    text-align: center;
    color: var(--color-accent);
    /* border-bottom: 1px solid var(--color-accent); */
    line-height: 1;
}


/* || collage-section */

collage-section {
    padding-left: 0;
    padding-right: 0;
    display: block;
}

collage-section ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    line-height: 0;
}

/* || poster section */

poster-section {
    position: relative;
    overflow: hidden;
    height: clamp(380px, 35vw, 720px);
    /* this makes it where the image is horizontal on desktop and vertical on mobile */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--space-md);
    align-items: center;
}

poster-section[inverted] {
    background: linear-gradient(to left,
            hsl(0 0% 0% / 0),
            hsl(0 0% 0% / 0.2) 50%,
            hsl(0 0% 0% / 0.5));
}

poster-section[floorplan] {
    color: var(--color-primary);
    background-color: var(--color-secondary);
}

poster-section[floorplan] :is(h1, h2, h3, h4, h5, h6) {
    color: var(--color-primary);
}

poster-section[inverted] :is(h1, h2, h3, h4, h5, h6, p, li) {
    color: var(--color-primary);
}

poster-section[inverted]>poster-card :is(h1, h2, h3, h4, h5, h6, p, li, a) {
    color: var(--color-secondary);
}

/* poster-section + poster-section {
    border-top: 4px solid var(--background);
} */

/* poster-section h1 {
    grid-area: a;
} */

/* poster-section h1,
poster-section h2,
poster-section p,
poster-section footer,
poster-section footer a {
    color: var(--color-primary);
} */

poster-section footer {
    border: none;
    position: absolute;
    bottom: var(--space-xxs);
    text-align: center;
    font-size: var(--text-sm);
    width: 100%;
}

poster-section footer>ul {
    display: flex;
    justify-content: center;
    column-gap: var(--space-sm);
}

poster-section footer>ul a {
    color: var(--color-primary);
}

poster-section>img,
poster-section>iframe,
poster-section>video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
}

poster-section>img[mobile-zoom] {
    transform: scale(1.0);
}

@media (max-width: 1200px) {
    poster-section>img[mobile-zoom] {
        transform: scale(1.3);
    }
}

@media (max-width: 900px) {
    poster-section>img[mobile-zoom] {
        transform: scale(1.5);
    }
}

@media (max-width: 600px) {
    poster-section>img[mobile-zoom] {
        transform: scale(1.7);
    }
}

poster-section>iframe {
    z-index: unset;
}

poster-card {
    display: block;
    background-color: var(--color-primary);
    padding: var(--space-sm);
}

poster-card :is(h1, h2, h3, h4, h5, h6) {
    margin: unset;
}

poster-card :is(h4, h5, h6) {
    margin-top: var(--space-xxs);
}

poster-card ul {
    margin-top: var(--space-xxs);
    padding-left: var(--space-sm);
}

poster-card ul li {
    list-style-type: disc;
}


/* || aside-section */

aside-section {
    display: grid;
    gap: var(--space-lg);
    grid-template-areas: "aside article";
    grid-template-columns: minmax(min-content, 20vw) 1fr;
}

aside-section>article {
    grid-area: article;
}

aside-section>aside {
    grid-area: aside;
    background-color: var(--background-alt);
    padding: var(--space-sm);
}

/* || media-grid */

/* media-grid {
    --min-pixel-size: 280px;
    --min-columns: 2;
    --max-columns: 4;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100% / var(--min-columns), max(var(--min-pixel-size), 100% / var(--max-columns))), 1fr));
} */

media-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

media-grid>a {
    position: relative;
    overflow: hidden;
    /* min-height: 450px; */
}

article>media-grid>a {
    --img-ratio: var(--vertical-media-scale-ratio);
    height: calc((var(--article-width) * var(--img-ratio)) / 2);
}

article>media-grid>a[inverted] {
    background: linear-gradient(to bottom,
            hsl(0 0% 0% / 0),
            hsl(0 0% 0% / 0.2) 70%,
            hsl(0 0% 0% / 0.4));
}

media-grid>a>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

media-grid>a>h3 {
    color: var(--color-primary);
    position: absolute;
    left: var(--space-xxs);
    bottom: var(--space-xxs);
    z-index: 10;
}

/* || filter-section */

filter-section {
    margin-top: 0;
}

filter-section>h2 {
    margin: unset;
}

filter-section>h2+p {
    margin-top: var(--space-nano);
}

filter-section>ul {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-nano);
}

filter-section>ul>li {
    display: inline-block;
}

filter-section>ul>li>a {
    font-size: var(--text-xs);
    display: inline-block;
    padding: 0.25rem var(--space-nano);
    color: var(--background);
    background-color: var(--background-contrast);
    /* margin: 1rem; */
}

filter-section>ul>li>a:hover {
    border-color: var(--color-secondary);
    text-decoration: none;
}

/* || map-section */

map-section>iframe {
    width: 100%;
    height: 100%;
}


/* || staff-section */

staff-section {
    --local-section-width: 16rem;
    --grid-col-min: 16rem;
    --grid-col-max: 40vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-col-min), var(--grid-col-max)), 1fr));
    /* grid-template-columns: repeat(auto-fill, minmax(var(--local-section-width), 1fr)); */
    gap: var(--space-xl);
    padding-bottom: var(--space-xxxxl);
    margin-bottom: var(--space-xxxxl);
}

staff-section figure {
    --local-element-width: 16rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--space-xxs);
    row-gap: var(--space-md);
    align-items: center;
}

staff-section figcaption h4 {
    font-size: var(--text-base-size);
}

staff-section figcaption h5 {
    color: var(--text-bright);
    font-size: var(--text-sm);
}

staff-section figcaption p {
    font-size: var(--text-sm);
}

/* || directory-section */

directory-section {
    display: block;
    text-align: center;
    padding-left: var(--page-gutters);
    padding-right: var(--page-gutters);
    padding-top: 5rem;
    padding-bottom: 5rem;
}

directory-section>ul>li>a>h2 {
    text-align: center;
    color: var(--text-bright);
    font-size: var(--text-xxxl);
    line-height: 1.75;
    text-decoration: none;
}

directory-section>ul>li>a:hover {
    text-decoration: none;
    color: var(--text-bright);
}

directory-section>ul {
    --grid-col-min: 16rem;
    --grid-col-max: 25vw;
    display: grid;
    gap: var(--space-lg);
    grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-col-min), var(--grid-col-max)), 1fr));
}

directory-section>ul>li>ul {
    margin-bottom: var(--space-lg);
}

directory-section>ul>li>ul>li>a,
directory-section>ul>li>ul>li {
    font-size: var(--text-sm);
    line-height: 1.5;
}

.star-row {
    display: flex;
    column-gap: var(--space-xxxs);
}

.star-row svg {
    width: var(--text-lg);
    height: var(--text-lg);
    fill: #faca15;
}

/* || special-section */

special-section {
    --grid-col-min: 16rem;
    --grid-col-max: 40vw;
    display: grid;
    column-gap: var(--space-lg);
    grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-col-min), var(--grid-col-max)), 1fr));
    padding-left: var(--page-gutters);
    padding-right: var(--page-gutters);
    padding-top: calc(2 * var(--space-xxxxl));
    padding-bottom: calc(2 * var(--space-xxxxl));
    background-color: var(--background-alt);
}

special-section ul {
    margin-top: var(--space-sm);
    padding: 0 var(--space-xl) var(--space-xl) var(--space-xl);
}

special-section ul>li {
    list-style-type: disc;
}

special-section :is(p, li) {
    font-size: var(--text-sm);
}

special-section form input[type="submit"] {
    background-color: var(--background-contrast);
    color: var(--text-contrast);
    margin: var(--space-lg) 0;
}

/* || center-section */

center-section {
    display: block;
    /* background-color: var(--color-secondary); */
}

center-section>ul {
    display: flex;
    justify-content: center;
}

center-section :is(h1, h2, h3, h4, h5, h6) {
    color: var(--color-primary);
}

center-section>ul>li {
    position: relative;
    width: min(100%, 50rem);
}

/* || breadcrumbs */

breadcrumbs {
    display: block;
    position: absolute;
    top: var(--page-gutters);
    left: var(--page-gutters);
}

breadcrumbs>ul {
    display: flex;
    gap: var(--space-xxs);
}

breadcrumbs>ul>li a {
    color: var(--color-primary);
}

breadcrumbs>ul>li a:hover,
breadcrumbs>ul>li a:focus {
    text-decoration: none;
}

/* || split-section */

split-section {
    display: block;
    padding-left: var(--page-gutters);
    padding-right: var(--page-gutters);
    padding-bottom: var(--page-gutters);
}

/* || split-grid */

split-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: var(--space-md);
    align-items: center;
}

split-grid[for-locations] {
    align-items: start;
    grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 900px) {
    split-grid[for-locations] {
        grid-template-columns: 1fr;
    }
}

/* || content-divider */

content-divider {
    display: block;
    height: 1px;
    width: 100%;
    background-color: var(--background-alt);
    margin: var(--space-sm) 0;
}

/* || feature-list */

feature-list {
    display: block;
}

feature-list ul>li p {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-size: var(--text-xs);
    margin: 0;
}

feature-list svg {
    width: 1em;
    height: 1em;
    /* margin-top: -4px; */
}

/* || action-list */

action-list {
    display: flex;
    flex-direction: column;
    column-gap: var(--space-xxxs);
    margin-top: var(--space-sm);
}

action-list a::after {
    content: " ➞"
}

action-list[row] {
    flex-direction: row;
}

/* || media-section */

media-section {
    display: block;
    padding-left: 0;
    padding-right: 0;
    height: fit-content;
    overflow: hidden;
}

media-section>* {
    width: 100%;
    height: auto;
}


/* || about-section */

about-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    padding: var(--page-gutters);
    gap: calc(2 * var(--page-gutters));
}

about-section > #about {
    display: grid;
    place-items: center;
}

about-section > #about > article {
    max-width: 75ch;
}

about-section > #map {
    min-height: clamp(450px, 35vw, 600px);
    border: 20px solid var(--background-contrast);
}

about-section h3 {
    padding-bottom: var(--space-xxxxxs);
    border-bottom: 2px solid var(--text-bright);
}

about-section p {
    padding-top: var(--space-xxxxxs);
    font-size: var(--text-sm);
}

/* || map-section */

map-section {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: clamp(600px, 35vw, 720px);
    /* this makes it where the image is horizontal on desktop and vertical on mobile */
}

map-section[small] {
    height: clamp(450px, 50vw, 500px);
}

map-section button {
    box-shadow: none;
    font-size: var(--text-md);
    padding: var(--space-xxxs);
}

map-section #map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* || photo-gallery */

photo-gallery {
    position: relative;
    display: block;
    width: 100%;
}

photo-gallery a {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    font-size: var(--text-lg);
    background-color: var(--background);
    width: 100%;
    padding: var(--space-xxxs);
}

photo-gallery img {
    display: block;
    width: 100%;
}

photo-gallery div {
    margin-top: 4.2rem;
}

photo-gallery img:not(:last-of-type) {
    margin-bottom: var(--space-sm);
}

/* error-section */

error-section {
    display: block;
    margin-top: var(--space-xxxxl);
    padding-left: var(--section-gutters);
    padding-right: var(--section-gutters);
    margin-bottom: var(--space-xxxxl);
}

error-section>h2 {
    margin-bottom: var(--space-nano);
    color: var(--text-bright);
}

error-section>p {
    margin-top: var(--space-xxxxs);
    margin-bottom: var(--space-xxxxs);
}

/* || showcase-section */

showcase-section {
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    gap: var(--space-md);
    margin-top: var(--space-lg);
}

showcase-section>article>a:first-of-type {
    display: block;
}

showcase-section>article figure {
    position: relative;
    overflow: hidden;
    aspect-ratio: 16 / 9;
    margin-bottom: var(--space-xxxs);
}

showcase-section>article figure>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: left;
}

/* || link-section */

link-section {
    display: inline-flex;
    flex-direction: column;
}

link-section[row] {
    flex-direction: row;
    gap: var(--space-xxxs);
}

link-section[small] {
    font-size: var(--text-sm);
}

link-section>a {
    display: inline-block;
}

/* || trust-section */

trust-section {
    max-width: 1850px;
}

trust-section> :is(h1, h2, h3, h4, h5, h6) {
    text-align: center;
    margin-bottom: var(--space-xs);
}

trust-section>div {
    margin: 0 auto;
    width: 150px;
    height: 2px;
    background-color: var(--color-accent);
    margin-bottom: var(--space-sm);
}

/* || trust-banner */

trust-banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1850px;
    margin: 0 auto;
    gap: var(--space-md);
}

trust-banner>figure {
    flex-grow: 1;
    position: relative;
    overflow: hidden;
    aspect-ratio: 21 / 9;
}

trust-banner>figure>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: grayscale(1) opacity(0.45);
}



/* || mapbox-popup */

.mapbox-popup {
    width: min(60vw, 300px);
}

.mapbox-popup h5 {
    font-size: var(--text-sm);
}

.mapbox-popup address {
    font-size: var(--text-xs);
}

.mapbox-popup address::after {
    content: "";
}

.mapbox-popup>div {
    padding: var(--space-nano) var(--space-nano) 0 var(--space-nano);
}

.mapbox-popup>div>a {
    font-weight: var(--button-font-weight);
    color: rgb(120, 120, 120);
    display: block;
    max-width: max-content;
    background-color: var(--background);
    padding: var(--space-nano) var(--space-xs);
    transition: box-shadow 100ms ease-out;
}

.mapbox-popup figure {
    position: relative;
    overflow: hidden;
    aspect-ratio: 16 / 9;
    width: 100%;
}

.mapbox-popup figure img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* || sticky-bar */

sticky-bar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: var(--space-nano);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 50px;
    background-color: var(--background-contrast);
    padding: var(--space-nano);
}

sticky-bar a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    background: transparent;
    color: var(--text-contrast);
    border: thin solid var(--text-contrast);
}

sticky-bar a[primary] {
    border: thin solid var(--text-bright);
    color: var(--text-bright);
}

sticky-bar a:hover {
    text-decoration: none;
}

sticky-bar a::before {
    content: '' !important;
}

sticky-bar a svg {
    width: 16px;
    height: 16px;
    margin-right: var(--space-nano);
}

@media (min-width: 600px) {
    sticky-bar {
        display: none;
        height: 0;
    }
}

/* || brand-section */

brand-section {
    display: block;
    padding-top: calc(2 * var(--space-xxxl));
    padding-bottom: calc(2 * var(--space-xxxl));
    padding-left: var(--section-gutters);
    padding-right: var(--section-gutters);
}

brand-section[dark] {
    background-color: var(--background-contrast);
    color: var(--text-bright);
}

brand-section :is(h1, h2, h3, h4, h5, h6) {
    color: var(--text-bright);
}

brand-section h3 {
    text-transform: uppercase;
    font-size: var(--text-sm);
    letter-spacing: 1px;
}

brand-section h5 {
    margin-top: var(--space-xs);
}

brand-section :is(ol, ul) {
    padding-left: var(--space-xxxs);
}

brand-section :is(ol, ul, p) {
    margin-top: var(--space-xxxs);
    font-size: var(--text-sm);
}

/* || thanks-section */

thanks-section {
    display: block;
    padding-top: calc(2 * var(--space-xxxl));
    padding-bottom: calc(2 * var(--space-xxxl));
    padding-left: var(--section-gutters);
    padding-right: var(--section-gutters);
}

.full-height {
    position: relative;
    overflow: hidden;
    aspect-ratio: 16 / 10;
    width: 100%;
}

.full-height :is(img, video) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.no-icon::before {
    content: '';
    display: none;
}

.location-card-list {
    margin-top: var(--space-md);
    display: flex;
    flex-direction: column;
    row-gap: var(--space-xxxs);
}

.location-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: var(--border-light);
}

.location-card > .location-card--photo {
    display: block;
    grid-column: span 2;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background: green;
}

.location-card > .location-card--photo > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.location-card > .location-card--details {
    padding: var(--space-xxxxxs);
    grid-column: span 2;
}

.location-card > .location-card--details > h5 {
    font-weight: 500;
}

.location-card > .location-card--details > a:hover {
    text-decoration: none;
}

.location-card .location-card--city {
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: var(--text-bright);
    font-size: var(--text-sm);
}

.location-card .location-card--blurb {
    font-size: var(--text-sm);
    font-style: italic;
}

.location-card .location-card--note {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    z-index: 10;
    padding: var(--space-nano);
    font-size: var(--text-sm);
    color: var(--text-contrast);
    text-align: center;
}

.locations-map {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.locations-map > #map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 900px) {
    .locations-map {
        position: relative;
        grid-row: 1;
        height: 300px;
    }
}

@media (max-width: 600px) {
    .location-card {
        grid-template-columns: 1fr;
    }

    .location-card > .location-card--photo {
        aspect-ratio: 16 / 9;
    }
}