.base {
    fill: rgb(245, 245, 245);
}

.alt {
    fill: rgb(230, 230, 230);
}

.status-ava,
.status-not {
    fill: rgba(255, 40, 40, 0.1);
}

.status-pre {
    fill: rgba(64, 136, 255, 0.15);
}

.status-sta,
.status-cow {
    fill: rgba(153, 50, 204, 0.15);
}