/* body grid */

body {
    display: grid;
    grid-template-areas: "alert alert""head head""main main""foot foot";
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr min-content;
}



body>header {
    grid-area: head;
    padding: 0;
}

body>main {
    grid-area: main;
}

body>aside {
    grid-area: sidebar;
}

body>footer {
    grid-area: foot;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: var(--space-xxxs);
}

/* set sections to block */
body>header,
body>footer {
    padding-left: var(--body-gutters);
    padding-right: var(--body-gutters);
}

@media (max-width: 600px) {
    body>footer {
        padding-bottom: 50px;
    }
}

main>* {
    padding-left: var(--page-gutters);
    padding-right: var(--page-gutters);
}

article-section, 
product-section {
    padding-right: 0;
}

special-section {
    padding-left: 0;
}

main>article {
    margin-top: var(--space-xl);
    padding-left: var(--section-gutters);
    padding-right: var(--section-gutters);
    margin-bottom: var(--space-xl);
}

main>article>h2 {
    margin-bottom: var(--space-nano);
    color: var(--text-bright);
}

main>poster-section+poster-section {
    margin-top: 4px;
}

site-alert {
    display: block;
    height: 1.25rem;
    width: 100vw;
    background-color: var(--background-contrast);
    color: var(--text-muted);
    font-size: var(--text-xs);
    text-align: center;
    margin-bottom: 0.2rem;
}

site-alert a {
    color: var(--text-muted);
    font-size: var(--text-xs);
    text-align: center;
}

header>nav {
    padding-top: var(--space-xxxxxs);
    padding-bottom: var(--space-xxxxxs);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "regions logo menu""products products products";
    align-items: center;
    row-gap: var(--space-xxxxxs);
}

header nav figure {
    text-align: center;
    grid-area: logo;
}

header nav figure a {
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav figure img {
    max-height: 34px;
    max-width: min(30vw, 320px);
    height: auto;
    width: auto;
}

header nav figure figcaption,
header nav address {
    font-size: var(--text-xs);
    color: var(--text-bright);
}

* :not(article) ul > li {
    list-style-type: none;
}

header>nav>ul>li>a {
    display: block;
    padding: 0 var(--space-xxxxxs);
    color: var(--text-main);
}

header>nav>ul:nth-of-type(1)>li:nth-of-type(1)>a {
    padding-left:0;
}

header>nav>ul>li>a:hover {
    text-decoration: underline;
}

header>nav>ul:nth-of-type(1) {
    grid-area: regions;
    display: flex;
}

header>nav>ul:nth-of-type(1)>li>a {
    font-weight: var(--header-font-weight);
}

header>nav>ul:nth-of-type(2) {
    grid-area: products;
    display: flex;
    justify-content: center;
}

header>nav>ul:nth-of-type(2)>li>a {
    font-size: var(--text-sm);
}

header>nav>menu-wrapper {
    grid-area: menu;
}

@media (max-width: 600px) {
    header>nav {
        padding-top: var(--space-nano);
        padding-bottom: 0;
    }

    header>nav>ul:nth-of-type(1)>li>a,
    menu-wrapper details summary,
    menu-wrapper details {
        font-weight: var(--header-font-weight);
        font-size: var(--text-xs);
    }

    header>nav>ul:nth-of-type(2) {
        display: none;
    }
}