menu-wrapper {
    --local-space-sm: var(--space-xxxxs);
    --local-space-md: var(--space-xxxs);
    --local-space-lg: var(--space-xs);
    /* --local-width: max(var(--space-xxxxl), 160px); */
    --local-width: max(160px,40vw);
    --menu-button-width: var(--space-xxxl);
}

menu-wrapper {
    display: block;
    position: relative;
    width: auto;
    justify-self: end;
    height: min-content;
}

menu-wrapper details summary {
    display: list-item;
    list-style: none;  /* remove the arrow ::marker */
    margin: 0;
    cursor: pointer;
    outline: none;
    text-align: center;
    font-weight: var(--button-font-weight);
    background-color: unset;
}

menu-wrapper details summary:hover {
    text-decoration: underline;
}

menu-wrapper details menu {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 100;
    width: var(--local-width);
    margin-top: 0;
    list-style: none;
    background-clip: padding-box;
    background-color: var(--background);
    border-top: none;
}

menu-wrapper menu li a {
    display: block;
    margin: 0;
    padding: var(--local-space-md) var(--local-space-lg);
    color: var(--text-main);
}

menu-wrapper menu li:hover {
    background-color: var(--color-accent);
}

menu-wrapper menu li a:hover {
    color: var(--color-primary);
}

menu-wrapper details,
menu-wrapper details[open] {
    padding: 0;
}

menu-wrapper details[open] summary {
    margin-bottom: 0px;
    background-color: var(--background);
}

menu-wrapper summary:hover,
menu-wrapper summary:focus,
menu-wrapper details menu li a:hover,
menu-wrapper details menu li a:focus,
menu-wrapper details menu li a:visited {
    text-decoration: none;
}

menu-wrapper details> :not(summary) {
    margin-top: 0;
    /* padding: var(--local-space-md); */
}

menu-wrapper details > summary::-webkit-details-marker {
    color: #363636;
    color: var(--text-main);
}