@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,500,600,700');

html {
    font-size: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    word-wrap: break-word;
    text-rendering: optimizeLegibility;
    color: var(--text-main);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* p {
    margin-bottom: 1rem;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    line-height: var(--line-height);
}

body {
    font-size: var(--text-base-size);
}

h1,
.text-xxxl {
    font-size: var(--text-xxxl);
}

h2,
.text-xxl {
    font-size: var(--text-xxl);
}

h3,
.text-xl {
    font-size: var(--text-xl);
}

h4,
.text-lg {
    font-size: var(--text-lg);
}

h5,
.text-md {
    font-size: var(--text-md);
}

.text-sm,
small {
    font-size: var(--text-sm);
}

.text-xs {
    font-size: var(--text-xs);
}


h1,
h2,
h3,
h4,
h5,
h6,
b,
strong,
th {
    font-weight: var(--header-font-weight);
}

q::before,
q::after {
    content: none;
}

blockquote,
q {
    font-style: italic;
}

figcaption {
    font-size: var(--text-xs);
}

blockquote>footer,
blockquote cite,
address {
    font-style: normal;
}

address {
    font-size: var(--text-xs);
}

a[href^='mailto\:']::before {
    content: '🖆 ';
}

a[href^='tel\:']::before {
    content: '🕿 ';
}

a[href^='sms\:']::before {
    content: '🖁 ';
}

a>code,
button {
    font-family: inherit;
    font-size: inherit;
    outline: none;
}

legend {
    font-size: 0.9em;
    font-weight: 600;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

code,
samp,
time {
    font-size: 1em;
}

var {
    font-style: normal;
    font-family: monospace;
}

summary {
    cursor: pointer;
    outline: none;
}

summary:hover,
summary:focus {
    text-decoration: underline;
}

dialog>header:first-child {
    text-align: center;
}