/* Type scales: https://type-scale.com/ */
/* Responsive layouts: https://codyhouse.co/blog/post/responsive-layouts-css-custom-properties-em-units */

:root {
    /* water.css variables */
    --background-body: #fff;
    --background: #efefef;
    --background-alt: #dfdfdf;
    --selection: #9e9e9e;
    --text-main: #363636;
    --text-bright: #000;
    --text-muted: #70777f;
    --links: #0076d1;
    --focus: #0096bfab;
    --border: #dbdbdb;
    --code: #000;
    --animation-duration: 0.1s;
    --button-base: #d0cfcf;
    --button-hover: #9b9b9b;
    --scrollbar-thumb: rgb(170, 170, 170);
    --scrollbar-thumb-hover: var(--button-hover);
    --form-placeholder: #949494;
    --form-text: #1d1d1d;
    --variable: #39a33c;
    --highlight: #ff0;
    --select-arrow: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='utf-8'?%3E %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='62.5' width='116.9' fill='%23161f27'%3E %3Cpath d='M115.3,1.6 C113.7,0 111.1,0 109.5,1.6 L58.5,52.7 L7.4,1.6 C5.8,0 3.2,0 1.6,1.6 C0,3.2 0,5.8 1.6,7.4 L55.5,61.3 C56.3,62.1 57.3,62.5 58.4,62.5 C59.4,62.5 60.5,62.1 61.3,61.3 L115.2,7.4 C116.9,5.8 116.9,3.2 115.3,1.6Z'/%3E %3C/svg%3E");
    
    /* colors */
    --color-primary: white;
    --color-primary-fade: rgba(255, 255, 255, 0.5);
    --color-secondary: #121510;
    --color-secondary-fade: rgba(18, 21, 16, 0.5);
    --color-tertiary: #151540;
    --color-accent: #c8aa82;

    /* box shadows */
    --box-shadow-xs: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;;
    --box-shadow-sm: 2px 2px 0px var(--color-secondary);
    --box-shadow-md: 4px 4px 0px var(--color-secondary);
    
    /* borders */
    --border-light: 0.25px solid var(--color-secondary);

    /* body font size */
    --text-base-size: 1em;

    /* links as buttons */
    --button-font-weight: 600;

    /* header font size (in relation to base) and weight */
    --header-base-font-size: calc(var(--text-base-size) / 2 + 0.390625vw); 
    --header-font-weight: 600;

    /* headers in relation to each other */
    --text-scale-ratio: 1.5;  

    /* fluid font sizes */
    --text-md: calc(var(--text-base-size));
    --text-lg: calc(var(--header-base-font-size) * var(--text-scale-ratio));
    --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
    --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
    --text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));
    
    --text-sm: calc(var(--text-md) / var(--text-scale-ratio));
    --text-xs: calc(var(--text-sm) / var(--text-scale-ratio));

    /* fluid spacing */
    --space-unit:  calc(1em / 2 + 1.5625vw);
    --space-ratio: var(--text-scale-ratio);
    --space-sm:    calc(var(--space-unit) / var(--space-ratio));
    --space-xs:    calc(var(--space-sm)  / var(--space-ratio));
    --space-xxs:   calc(var(--space-xs)  / var(--space-ratio));
    --space-xxxs:  calc(var(--space-xxs)  / var(--space-ratio));
    --space-xxxxs: calc(var(--space-xxxs)  / var(--space-ratio));
    --space-md:    calc(var(--space-unit) * var(--space-ratio));
    --space-lg:    calc(var(--space-md) * var(--space-ratio));
    --space-xl:    calc(var(--space-lg) * var(--space-ratio));
    --space-xxl:   calc(var(--space-xl) * var(--space-ratio));
    --space-xxxl:  calc(var(--space-xxl) * var(--space-ratio));
    --space-xxxxl: calc(var(--space-xxxl) * var(--space-ratio));

    /* layout spacing */
    --section-padding-top: var(--space-sm);
    --section-margin-top: var(--space-sm);
    --body-gutters: max(calc(50vw - 200ch), var(--space-xs));
    --page-gutters: max(calc(50vw - 150ch), var(--space-xs));
    --section-gutters: max(calc(50vw - 50ch), var(--space-xs));
}
